<div class="container">
  <div class="row">
    <div class="col-12">
      <ng-container *ngIf="allWords$ | async as dataSource">
        <div *ngIf="dataSource.length === 0; else wordsTable">
          Time to enter some words
        </div>

        <ng-template #wordsTable>
          <table
            mat-table
            [dataSource]="dataSource"
            class="mat-elevation-z8 w-100"
          >
            <!-- English Column -->
            <ng-container matColumnDef="en">
              <th mat-header-cell *matHeaderCellDef>English</th>
              <td mat-cell *matCellDef="let element">
                {{ element.en }}
              </td>
            </ng-container>

            <!-- Bulgarian Column -->
            <ng-container matColumnDef="bg">
              <th mat-header-cell *matHeaderCellDef>Bulgarian</th>
              <td mat-cell *matCellDef="let element">
                {{ element.bg }}
              </td>
            </ng-container>

            <!-- Edit Column -->
            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button
                  mat-raised-button
                  mat-icon-button
                  class="my-3"
                  color="accent"
                  (click)="
                    edit({
                      en: element.en,
                      bg: element.bg,
                      id: element.id
                    })
                  "
                >
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </ng-container>

            <!-- Delete Column -->
            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button
                  mat-raised-button
                  mat-icon-button
                  class="my-3"
                  color="warn"
                  (click)="deleteWord(element.id)"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns"
            ></tr>
          </table>
        </ng-template>
      </ng-container>
    </div>
    <div class="col-12 d-flex justify-content-center p-5">
      <button
        mat-raised-button
        color="primary"
        class="button"
        (click)="openDialog()"
      >
        Add New Word
      </button>
    </div>
  </div>
</div>
